<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="../app/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../node_modules/cropper/dist/cropper.min.css"/>
    <script src="../app/js/jquery-2.2.4.js"></script>
    <script src="../plupload/js/plupload.full.min.js"></script>
    <script src="../node_modules/cropper/dist/cropper.min.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.swalupload.entry %>"></script>
</head>
<body>
<div id="container">
    <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
    <!--<buttton class="btn" id="cutsave">裁剪</buttton>-->
    <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
</div>
<div id="ossviewfile"></div>
<h1>文件裁剪并上传</h1>
<div>
    <div style="float: left; width:400px;">
        <div id="picurls"></div>
        <div id="ossfile">
            <!-- 文件显示 -->
        </div>
    </div>
    <div style="float: left;width:200px;">
        <div id="cropperviewimge"></div>
    </div>
</div>
<br/>
<script>
    var uploader = $('#selectfiles').swalupload({
        postButton:'#postfiles',
        rename:false,
        multi:false,
        filters:{
            mime_types : [ //只允许上传图片和zip,rar文件
                { title : "Image files", extensions : "jpg,png,gif" }
            ]
        },
        FilesAdded:function (file,sel,up) {
            $('#ossfile').append('<div id="' + file.id + '">' + file.name + ' (' + file.ratio + ')<b></b>'
                + '<div class="progress"><div class="progress-bar" style="width: 0%"></div></div>'
                + '</div>');
            $('#picurls').append('<img id="cropper-imgs" src="' + file.previewdata + '" width="300" height="300" />');

            $('#cropper-imgs').cropper({
                aspectRatio: 1 / 1,
                crop: function(e) {
                    // Output the result data for cropping image.
                    /*console.log(e.x);
                    console.log(e.y);
                    console.log(e.width);
                    console.log(e.height);
                    console.log(e.rotate);
                    console.log(e.scaleX);
                    console.log(e.scaleY);*/
                    var croppedCanvas = $('#cropper-imgs').cropper('getCroppedCanvas');
                    $('#cropperviewimge').html('<img src="' + croppedCanvas.toDataURL() + '" />');

                    var imcrop = $('#cropper-imgs').cropper('getData');
                    uploader.setCrop(imcrop);
                }
            });
        },
        UploadProgress:function (file,sel,up) {
            var d = document.getElementById(file.id);
            d.getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
            var prog = d.getElementsByTagName('div')[0];
            var progBar = prog.getElementsByTagName('div')[0]
            progBar.style.width= 2*file.percent+'px';
            progBar.setAttribute('aria-valuenow',file.percent);
        },
        FileUploaded:function (file,info,sel,up) {
            if (info.status == 200)
            {
                $('#'+file.id).html('upload to oss success, object name:' + file.name);
                $('#ossviewfile').html('<img src="'+uploader.osshost+'" />');
            }
            else
            {
                $('#'+file.id).html(info.response);
            }
        },
        UploadComplete:function (files,sel,up) {
            console.log('上传完成');
        },
        Error:function (msg,sel,up) {
            console.log(msg);
        }
    });

    $('#cutsave').click(function () {
        var croppedCanvas = $('#cropper-imgs').cropper('getCroppedCanvas');
        $('#cropperviewimge').html('<img src="' + croppedCanvas.toDataURL() + '" />');

        var imcrop = $('#cropper-imgs').cropper('getData');
        uploader.setCrop(imcrop);
    });
</script>
</body>
</html>